/* Enter your custom styles here */

.hideFirstWizardStep .sapMWizardProgressNavStep:first-child {
    display: none !important;
}

.hideFirstWizardStep .sapMWizardProgressNav {
    padding-left: 0;
}

.richTextError {
    border: 2px solid #bb0000 !important;
    border-radius: 4px;
}

.richTextError .sapUiRTE {
    margin: -2px;
}


.smartTableWithBorder {
    border: none;
}

.smartTableWithBorder .sapMListTbl {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    overflow: hidden;
}

.smartTableWithBorder .sapMListTbl tbody tr td {
    border-left: none !important;
    border-right: none !important;
}

.sapMMessageToast{
    max-width: 25rem !important;
}

