
.announcementDetailsSectionCss,
.publishingSettingsSectionCss,
.audienceMetadataSectionCss {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1.25rem;
    border: 1px solid #fffefe;
}

.sectionHeaderCss {
    font-size: 1.125rem;
    font-weight: 600;
    color: #333333;
}
.smartTableBorderCss {
    border: none;
}

.smartTableBorderCss .sapMListTbl {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    overflow: hidden;
}

.smartTableBorderCss .sapMListTbl tbody tr td {
    border-left: none !important;
    border-right: none !important;
}

.messageToastCss {
    max-width: 25rem !important;
}

#sessionExpiredDialog .sapMDialogSection {
    padding: 2rem 3rem;
}

#sessionExpiredDialog .sapMBtn {
    min-width: 200px;
    height: 3rem;
}

#sessionExpiredDialog .sapMBtnInner {
    font-size: 1rem;
    font-weight: 600;
}

.sessionExpiredIcon {
    color: #E9730C !important;
}

/* Base style for all filter buttons */
.statusFilterBtnCss.sapMBtn {
    margin-right: 0.25rem;
    border-radius: 1.25rem !important;
    min-width: 0;
}

.statusFilterBtnCss .sapMBtnInner {
    border-radius: 1.25rem !important;
    padding: 0 0.875rem;
    border: 1px solid #050505 !important;
    background-color: #ffffff !important;
    color: #32363a !important;
    /* transition: background-color 0.15s ease, border-color 0.15s ease, color 0.15s ease; */
}

/* Active / selected filter button (type="Emphasized") */
.statusFilterBtnCss .sapMBtnInner.sapMBtnEmphasized {
    background-color: #e51a07 !important;
    border-color: #e51a07 !important;
    color: #ffffff !important;
}